body {
  font-family: 'Open Sans', sans-serif;
  color: #4b6d75;
  background-color: GhostWhite;
  margin: 0;
  padding: 0;
}
main {
  margin: 0;
  padding: 0;
}
header {
  background-color: #4b6d75;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: GhostWhite;
}
footer {
  background-color: #4b6d75;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: GhostWhite;
}
footer a {
  text-decoration: none;
  color: GhostWhite;
}
footer a:hover {
  text-decoration: underline;
}
header > h1, header > h3 {
  margin: 5px;
}
section {
  background-color: White;
  padding-bottom: 40px;
}
article {
  border-top: 1px solid Gainsboro;
  padding: 15px 10px 10px 10px;
}
article > div {
  max-width: 800px;
  margin: auto;
}
.detail-wrapper {
  margin-top: 10px;
}
.detail-wrapper a {
  color: #4b6d75;
  text-decoration: none;
}
.code-preview {
  border: 1px solid Gainsboro;
}
.cloud-wrapper {
  border: 1px solid Gainsboro;
  text-align: center;
  background-color: #3e3833;
  padding: 20px;
}
a.github-link {
  margin-left: 7px;
  color: GhostWhite;
}
/* styles needed by examples */
@keyframes blinker {
  50% { opacity: 0.0; }
}
.myTagCloud span {
  text-decoration: underline;
}
.simple-cloud .tag-cloud-tag {
  cursor: pointer;
}
