html {
  --header-text-color: GhostWhite;
  --text-color: #d9d9d9;
  --border-color: #3c3e40;
  --body-color: #292929;
  --section-color: #282c34;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--body-color);
  margin: 0;
  padding: 0;
}
main {
  margin: 0;
  padding: 0;
}
header {
  background-color: var(--section-color);
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--header-text-color);
}
footer {
  background-color: var(--section-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--header-text-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover {
  text-decoration: underline;
}
header > h1,
header > h3 {
  margin: 5px;
}
section {
  background-color: var(--body-color);
  padding-bottom: 40px;
}
article {
  border-top: 1px solid var(--border-color);
  padding: 15px 10px 10px 10px;
}
article > div {
  max-width: 800px;
  margin: auto;
}
.detail-wrapper {
  margin-top: 10px;
  font-size: 1.2em;
}
.detail-wrapper a {
  color: var(--text-color);
  text-decoration: none;
}
.code-preview {
  border: 1px solid var(--border-color);
}
.cloud-wrapper {
  border: 1px solid var(--border-color);
  text-align: center;
  background-color: var(--section-color);
  padding: 20px;
}
a.github-link {
  margin-left: 7px;
  color: var(--text-color);
}
/* styles needed by examples */
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.myTagCloud span {
  text-decoration: underline;
}
.simple-cloud .tag-cloud-tag {
  cursor: pointer;
}
.controls {
  padding: 10px 0px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.controls > div > * {
  margin: 4px 5px;
}
.controls input[type='number'] {
  width: 40px;
}
