{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "quotes": [0],
        "react/jsx-uses-react": 1
    }
}
